@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply m-0 box-border p-0 font-app-font;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}
